@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&family=Roboto+Condensed:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.body {
    background-color: #EEF1F5;
}

.wrapper {
    height: 100vh;
    background-color: #191c32;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.logo img {
    margin: 10px -60px;
    width: 300px;
    height: 80px;
}

.menu {
    display: flex ;
    width: 50%;
    justify-content: space-around;
    margin-top: 30px;
}

.menu li {
    list-style: none;
    display: inline-block;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
}

.menu a:hover {
    color: chartreuse;
}

.menu .active {
    color: chartreuse;
}

.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.text {
    font-size: 40px;
    color: #F1C40F;
    margin: 30px 0 10px 0;
}

.span1 {
    color: chartreuse;
}

.text1 {
    font-size: 60px;
}

.text2 {
    font-size: 19px;
}

.socialmedia a{
    display: inline-block;
    justify-content: center;
    text-decoration: none;
    color: #EEF1F5;
    margin: 10px 20px 20px 0;
}

.socialmedia a:hover {
    color: chartreuse;
}

.socialmedia i:hover {
    transform: translateY(-5px);
}

.foto {
    width: 500px;
    height: 600px;
    margin-left: 120px;
}

.sobre {
    height: 620px;
    background-color: #EEF1F5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.ilustracion1 {
    width: 700px;
    height: 600px;
    margin-left: 0px;
    margin-top: 0px;
}

.text4 {
    font-size: 60px;
    margin-top: 35px;
}

.span2 {
    color: #F1C40F;
}

.text5 {    
    margin-top: 30px;
    font-size: 18px;
    width: 93%;
    font-weight: 470;
}

.divider {
    text-align: center;
    margin-right: 70px;
    margin-top: 40px;
}

.divider i:hover {
    transform: scale(1.1);
}

.divider h2 { 
    font-size: 15px;
}

.divider li {
    display: inline-block;
    width: 20%;
    height: 100%;
    padding: 0px 20px;
}

.divider1 {
    text-align: center;
    margin-right: 70px;
    margin-top: 20px;
}

.divider1 i:hover {
    transform: scale(1.1);
}

.divider1 h2 { 
    font-size: 15px;
}

.divider1 li {
    display: inline-block;
    width: 20%;
    height: 100%;
    padding: 0px 20px;
}

.portafolio {
    height: 600px;
    background-color: #191c32;
    border-radius: 130px 0px 160px 0px;
}

.text6 {
    color: white;
    text-align: center;
    padding: 20px 0;
}

.span3 {
    color: #F1C40F;
}

.proyectos {
    width: 946px;
    margin: 0 auto;
    padding: 50px 0;
}

.proyectos li{
    color: white;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 30%;
    height: 100%;
    padding: 20px 20px;
    margin-top: -40px;
    margin-right: 20px;
    box-sizing: border-box;
    border: #F1C40F 2px solid;
    border-radius: 10px;
}

.proyectos a:hover {
    color: #F1C40F;
    font-size: 50px;
}

.proyectos h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 180px;
}

.ima_portafolio {
    margin-top: -170px;
    width: 200px;
    height: 200px;
}

.descripcion {
    margin-bottom: 60px;
}

.iconos {
    margin-top: -20px;
}

.global {
    color: #EEF1F5;
    font-size: 35px;
    margin: 0 10px;
}

.contacto {
    height: 700px;
    background-color: #EEF1F5;
}

.text7 {
    text-align: center;
    color: #F1C40F;
    padding: 20px 0;
}

.formulario {
    margin-top: -80px;
    padding: 80px 80px;
}

.formulario label {
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.formulario input {
    outline: none; 
    text-decoration: none;
    display: block;
    margin-top: 20px;
    width: 40%;
    height: 40px;
    padding-left: 10px;
    background-color: #EEF1F5;
    border-radius: 10px;
    border: 2px solid #2C3E50;
}

.formulario textarea {
    outline: none; 
    display: block;
    margin-top: 20px;
    width: 40%;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #EEF1F5;
    border-radius: 10px;
    border: 2px solid #2C3E50;
}

.formulario input:focus{
	outline:0;
	border: 2px solid #F1C40F;
}

.formulario textarea:focus {
    outline:0;
	border: 2px solid #F1C40F;
}

::-webkit-input-placeholder {
    color: #2C3E50;
}

.enviar {
    outline: none;
    color: #EEF1F5;
    background-color: #F1C40F;
    color: #000000b5;
    margin-top: 35px;
    margin-left: 100px;
    width: 10%;
    border-radius: 6px;
    border: #fff;
    font-size: 22px;
}

.obligatorio {
    color: #E74C3C;
}

.contacto_medios {
    margin-top: -50px;
    font-size: 20px;
    margin-left: 250px;
}

.contacto_medios a{
    display: inline-block;
    margin: 0px 0px 0px 30px;
}

.footer {
    text-align: center;
    background-color: #191c32;
    padding: 1px;
}

.titulo_footer {
    width: 500px;
    border-bottom: white 2px solid;
    margin: 0 auto;
    padding: 20px 0px;
}

.pie {
    color: white;
    font-size: 35px;
}

.footer {
    text-align: center;
    border-radius: 130px 130px 0px 0px;
}

.logo_footer img {
    margin-top: 15px;
    width: 400px;
    height: 100px;
    border-bottom: 2px solid #fff;
}

.socialmedia_footer {
    margin-top: -8px;
    font-size: 15px;
}

.socialmedia_footer a{
    display: inline-block;
    color: white;
    margin: 30px 20px 10px 20px;
}

.socialmedia_footer a:hover {
    color: chartreuse;
}

.socialmedia_footer i:hover {
    transform: translateY(-7px);
}

.copyright {
    font-size: 15px;
    color: white;
}

/* BTN WHATSAPP */

.btn-flotante {
	font-size: 12px; /* Cambiar el tamaño de la tipografia */
    /* text-transform: uppercase; /* Texto en mayusculas */
	/* font-weight: bold; /* Fuente en negrita o bold */
	/* color: #fff; /* Color del texto */
	border-radius: 50%; /* Borde del boton */
	letter-spacing: 1px; /* Espacio entre letras */
	/* background-color: #25D366; /* Color de fondo */
    height: 60px;
    width: 60px;
	padding: 30px 30px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	z-index: 99;
    text-decoration: none;
    font-size: 15px;
}

.btn-flotante:hover {
	/* background-color: #25D366; /* Color de fondo al pasar el cursor */
    /* color: #fff; */
	transform: translateY(-7px);
}

@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
} 
